<section class="relative w-full grid grid-cols-1 xl:grid-cols-[calc(100%-382px)_350px] gap-8">
  <div class="w-full max-w-[1440px] relative">
    @if (isBrowser() && data().length > 0) {
      <a>
        <ngx-slick-carousel
          #mainSlider="slick-carousel"
          class="carousel"
          [config]="slideConfig"
          (beforeChange)="onSlideChange($event)"
        >
          @for (m of data(); track m.name) {
            <div ngxSlickItem>
              <div
                class="relative cursor-pointer z-10 w-full aspect-[16/9] grid place-items-end overflow-hidden"
              >
                <img
                  [src]="m?.thumb_url | image"
                  class="absolute inset-0 w-full h-full object-cover object-top rounded-md"
                  alt="banner"
                />
              </div>
            </div>
          } @empty {
            <div
              class="relative cursor-pointer z-10 w-full aspect-[16/9] grid place-items-end overflow-hidden"
            ></div>
          }
        </ngx-slick-carousel>
        @if (movie()) {
          <div
            #movieInfo
            class="absolute z-20 bottom-0 lg:bottom-[25%] left-0 w-fit h-fit px-4 lg:px-12 pb-4 lg:pb-10 text-white/80 flex items-end"
          >
            <div class="max-w-2xl">
              <div>
                <h1
                  class="w-fit p-1 rounded-sm line-clamp-2 sm:line-clamp-4 pointer-events-none cursor-not-allowed text-white text-xs s:text-md md:text-lg lg:text-xl:text-2xl 2xl:text-4xl font-extrabold leading-tight drop-shadow bg-black/40 lg:bg-transparent shadow-md lg:shadow-none"
                >
                  {{ movie()?.name }}
                </h1>
              </div>
              <div
                class="mt-1 sm:mt-4 flex flex-wrap gap-2 *:border *:px-2 *:border-slate-950/20 *:rounded-sm font-medium"
              >
                <span
                  class="inline-flex items-center gap-1 rounded-full border border-white/20 bg-white/5 px-2 sm:py-1 text-xs font-semibold text-white/80 backdrop-blur-sm shadow-sm hover:bg-white/20 transition"
                >
                  IMDb
                  <strong
                    class="text-transparent bg-clip-text bg-[linear-gradient(to_right,theme(colors.amber.200),theme(colors.yellow.400),theme(colors.orange.500))] font-extrabold"
                  >
                    {{
                      movie()?.tmdb?.vote_average !== 0 && movie()?.tmdb?.vote_average !== 10
                        ? movie()?.tmdb?.vote_average?.toFixed(1)
                        : movie()?.tmdb?.vote_average
                    }}
                  </strong>
                </span>
                <span class="badge inline-flex items-center text-xs xl:text-base">{{
                  movie()?.year
                }}</span>
                <span class="badge inline-flex items-center text-xs xl:text-base">{{
                  movie()?.episode_current == 'Full'
                    ? (movie()?.time ?? '' | timeToHour)
                    : movie()?.episode_current
                }}</span>
                <div class="inline-flex items-center bg-slate-950">
                  <span
                    class="text-xs xl:text-base badge bg-clip-text text-transparent bg-gradient-premium bg-[length:200%_auto] animate-gradient uppercase"
                    >{{ movie()?.quality }}</span
                  >
                </div>
              </div>

              <div class="mt-6 hidden lg:flex items-center gap-3">
                <a
                  class="w-20 h-20 rounded-full bg-white text-neutral-900 font-semibold shadow-soft flex items-center justify-center gap-2 text-4xl bg-gradient-to-r from-yellow-500"
                  [routerLink]="`watch/${movie()?.slug}`"
                >
                  <lucide-angular [img]="icons.Play" class="my-icon" size="30"></lucide-angular>
                </a>
                <div class="grid grid-cols-2 *:border *:border-slate-950/20">
                  <button
                    class="btn-glass px-4 py-3 rounded-full flex items-center gap-2 rounded-r-none"
                  >
                    <i class="fa-solid fa-heart"></i> Yêu thích
                  </button>
                  <button
                    class="btn-glass px-4 py-3 rounded-full flex items-center gap-2 rounded-l-none"
                  >
                    <i class="fa-solid fa-share"></i>
                    Chia sẻ
                  </button>
                </div>
              </div>

              <div class="mt-6 hidden lg:flex flex-wrap gap-2">
                @for (category of movie()?.category; track category.name) {
                  <span class="badge">{{ category.name }}</span>
                }
              </div>
            </div>
          </div>
        }
      </a>
    }
    <div
      class="pointer-events-none absolute top-0 right-0 w-full inset-0 transition-all duration-500"
    >
      <div
        class="h-full bg-[radial-gradient(100%_75%_at_50%_40%,transparent_0%,rgba(2,6,23,1)_180%)] lg:bg-[radial-gradient(100%_75%_at_50%_40%,transparent_0%,rgba(2,6,23,1)_80%)] text-slate-950"
      ></div>
    </div>
    <div
      class="hidden lg:flex gap-3 absolute right-5 xl:right-6 bottom-[15%] 2xl:bottom-[20%] z-20"
    >
      @if (data() && data().length > 0) {
        @for (p of data(); track p.name; let i = $index) {
          <img
            [src]="p.thumb_url"
            class="h-12 w-24 cursor-pointer rounded-xl object-cover ring-1 ring-white/20 hover:scale-105 transition"
            [ngClass]="currentIndex() === i ? 'border-2' : ''"
            (click)="goToSlide(i)"
          />
        }
      }
    </div>
  </div>
  <div class="bg-transparent text-white">
    <div class="flex items-end justify-between mb-3">
      <h2
        class="text-base sm:text-md font-bold bg-clip-text text-transparent bg-gradient-romantic bg-[length:200%_auto] animate-gradient uppercase tracking-wide border-b border-b-yellow-500"
      >
        Xem nhiều
      </h2>

      <div class="flex bg-black/40 rounded-lg overflow-hidden border border-white/10">
        @for (tab of tabs; track tab) {
          <button
            class="px-3 py-1 text-[7px] sm:text-xs transition-colors"
            [class.bg-pink-600]="activeTab() === tab"
            [class.text-white]="activeTab() === tab"
            [class.text-gray-300]="activeTab() !== tab"
            (click)="activeTab.set(tab)"
          >
            {{ tab }}
          </button>
        }
      </div>
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-1">
      @if (data() && data().length > 0) {
        @for (film of data(); track film.name) {
          <a
            class="flex gap-3 p-2 rounded-lg bg-black/20 hover:bg-white/5 transition cursor-pointer group"
            [routerLink]="`watch/${film.slug}`"
          >
            <img
              [src]="film.poster_url"
              alt="thumbnail"
              class="w-12 sm:w-16 xl:w-20 h-16 sm:h-24 xl:h-28 object-cover rounded-md flex-shrink-0 shadow"
            />
            <div class="flex flex-col justify-start overflow-hidden">
              <h3
                class="text-xs lg:text-sm font-semibold group-hover:text-pink-400 transition-all duration-500 ease-in-out line-clamp-2"
              >
                {{ film.name }}
              </h3>
              <p class="text-[7px] lg:text-xs text-blue-400 truncate">{{ film.origin_name }}</p>
              <p class="text-[7px] lg:text-xs text-gray-400 mt-1">{{ film.year }} lượt xem</p>
            </div>
          </a>
        }
      }
    </div>
  </div>
</section>
