<section class="relative w-full overflow-hidden grid grid-cols-[auto_330px] gap-8">
  <div class="w-full max-w-[1440px] relative">
    <ngx-slick-carousel
      #mainSlider="slick-carousel"
      class="carousel"
      [config]="slideConfig"
      (beforeChange)="onSlideChange($event)"
    >
      @for (m of data(); track m.name) {
        <div ngxSlickItem>
          <div
            class="relative cursor-pointer z-10 w-full aspect-[16/9] grid place-items-end overflow-hidden"
          >
            <img
              [src]="m?.thumb_url | image"
              class="absolute inset-0 w-full h-full object-cover object-top rounded-md"
              alt="banner"
            />
          </div>
        </div>
      } @empty {
        <div
          class="relative cursor-pointer z-10 w-full aspect-[16/9] grid place-items-end overflow-hidden"
        ></div>
      }
    </ngx-slick-carousel>
    <div
      class="pointer-events-none absolute top-0 right-0 w-full inset-0 transition-all duration-500"
    >
      <div
        class="h-full bg-[radial-gradient(100%_75%_at_50%_40%,transparent_0%,rgba(2,6,23,1)_80%)] text-slate-950"
      ></div>
    </div>
    <div
      #movieInfo
      class="absolute z-0 bottom-[25%] left-0 w-fit h-full px-12 pb-10 text-white/80 flex items-end"
    >
      <div class="max-w-xl">
        <div>
          <h1 class="text-5xl sm:text-6xl font-extrabold leading-tight drop-shadow">
            {{ movie()?.name }}
          </h1>
        </div>
        <div class="mt-3 text-yellow-300">The Roses</div>

        <div
          class="mt-4 flex flex-wrap gap-2 *:border *:px-2 *:border-slate-950/20 *:rounded-md font-medium"
        >
          <span
            class="inline-flex items-center gap-1 rounded-full border border-white/20 bg-white/10 px-2 py-1 text-xs font-semibold text-white/80 backdrop-blur-sm shadow-sm hover:bg-white/20 transition"
          >
            IMDb
            <strong
              class="text-transparent bg-clip-text bg-[linear-gradient(to_right,theme(colors.amber.200),theme(colors.yellow.400),theme(colors.orange.500))] font-extrabold"
            >
              {{
                movie()?.tmdb?.vote_average !== 0 && movie()?.tmdb?.vote_average !== 10
                  ? movie()?.tmdb?.vote_average?.toFixed(1)
                  : movie()?.tmdb?.vote_average
              }}
            </strong>
          </span>
          <span class="badge">{{ movie()?.year }}</span>
          <span class="badge">{{ movie()?.time }}</span>
          <div class="bg-slate-950">
            <span
              class="badge bg-clip-text text-transparent bg-gradient-premium bg-[length:200%_auto] animate-gradient uppercase"
              >{{ movie()?.quality }}</span
            >
          </div>
        </div>

        <p class="mt-4 max-w-xl text-white/80 line-clamp-3">
          Cuộc sống của Ivy và Theo tưởng chừng hoàn hảo: sự nghiệp thành công, hôn nhân hạnh phúc,
          con cái ngoan ngoãn. Nhưng đằng sau lớp vỏ của một gia đình lý tưởng ấy là cơn bão ngầm
          đang dần hình thành — khi sự nghiệp của Theo tuột dốc trong khi tham vọng của Ivy thăng
          hoa, thổi bùng lên ngọn lửa ganh đua và oán giận âm ỉ có thể thiêu rụi tất cả.
        </p>

        <div class="mt-6 flex items-center gap-3">
          <button
            class="w-20 h-20 rounded-full bg-white text-neutral-900 font-semibold shadow-soft flex items-center justify-center gap-2 text-4xl bg-gradient-to-r from-yellow-500"
          >
            <i class="fa-solid fa-play"></i>
          </button>
          <div class="grid grid-cols-2 *:border *:border-slate-950/20">
            <button class="btn-glass px-4 py-3 rounded-full flex items-center gap-2 rounded-r-none">
              <i class="fa-solid fa-heart"></i> Yêu thích
            </button>
            <button class="btn-glass px-4 py-3 rounded-full flex items-center gap-2 rounded-l-none">
              <i class="fa-solid fa-share"></i>
              Chia sẻ
            </button>
          </div>
        </div>

        <div class="mt-6 flex flex-wrap gap-2">
          @for (category of movie()?.category; track category.name) {
            <span class="badge">{{ category.name }}</span>
          }
        </div>
      </div>
    </div>
    <div class="hidden lg:flex gap-3 absolute right-6 bottom-[25%] z-20">
      @if (data() && data().length > 0) {
        @for (p of data(); track p.name; let i = $index) {
          <img
            [src]="p.thumb_url"
            class="h-16 w-28 cursor-pointer rounded-xl object-cover ring-1 ring-white/20 hover:scale-105 transition"
            [ngClass]="currentIndex() === i ? 'border-2' : ''"
            (click)="goToSlide(i)"
          />
        }
      }
    </div>
  </div>
  <div class="bg-transparent text-white">
    <div class="flex items-center justify-between mb-3">
      <h2
        class="text-md font-bold bg-clip-text text-transparent bg-gradient-romantic bg-[length:200%_auto] animate-gradient uppercase tracking-wide border-b border-b-yellow-500"
      >
        Xem nhiều
      </h2>

      <div class="flex bg-black/40 rounded-lg overflow-hidden border border-white/10">
        <button
          *ngFor="let tab of tabs"
          class="px-3 py-1 text-xs transition-colors"
          [class.bg-pink-600]="activeTab() === tab"
          [class.text-white]="activeTab() === tab"
          [class.text-gray-300]="activeTab() !== tab"
          (click)="activeTab.set(tab)"
        >
          {{ tab }}
        </button>
      </div>
    </div>

    <div class="space-y-3">
      @if (data() && data().length > 0) {
        @for (film of data(); track film.name) {
          <a
            class="flex gap-3 p-2 rounded-lg bg-black/20 hover:bg-white/5 transition cursor-pointer group"
          >
            <img
              [src]="film.thumb_url"
              alt="thumbnail"
              class="w-16 h-20 object-cover rounded-md flex-shrink-0 shadow"
            />
            <div class="flex flex-col justify-center overflow-hidden">
              <h3
                class="text-sm font-semibold truncate group-hover:text-pink-400 transition-all duration-500 ease-in-out"
              >
                {{ film.name }}
              </h3>
              <p class="text-xs text-blue-400 truncate">{{ film.origin_name }}</p>
              <p class="text-xs text-gray-400 mt-1">{{ film.year }} lượt xem</p>
            </div>
          </a>
        }
      }
    </div>
  </div>
</section>
