<section class="relative p-10 mt-[-130px]">
  <h2 class="text-3xl font-semibold mb-4 text-white">Bạn đang quan tâm gì?</h2>
  <div
    class="flex overflow-x-auto no-scrollbar sm:grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-7 gap-4 p-1"
  >
    @for (item of items; track $index) {
      <button
        class="2xl:min-w-32 w-full rounded-2xl bg-gradient-to-tr from-white/10 to-white/5 border hover:translate-y-[-2px] transition shadow-soft p-4"
      >
        <div
          class="text-md sm:text-lg md:text-xl font-extrabold bg-clip-text text-transparent bg-gradient-original bg-[length:200%_auto] animate-gradient"
        >
          {{ item.label }}
        </div>

        <div class="text-xs text-white/60 mt-1 whitespace-nowrap">
          Khám phá <i class="fa-solid fa-arrow-right"></i>
        </div>
      </button>
    }
  </div>
</section>
