<section class="text-white px-0 lg:px-4 sm:py-6 lg:flex items-center h-fit max-h-72">
  <div class="lg:mb-4 w-full lg:w-[500px] flex justify-between items-center lg:block">
    <h2
      class="lg:mb-5 text-sm sm:text-xl lg:text-2xl md:text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-romantic bg-[length:200%_auto] animate-gradient"
    >
      Phim {{ country().name }} Mới
    </h2>
    <a
      href="#"
      class="text-xs sm:text-sm lg:text-md text-white/70 hover:text-white gap-1 group flex items-center"
    >
      <span class="whitespace-nowrap"> Xem toàn bộ</span>
      <lucide-angular
        class="transform group-hover:translate-x-[2px] duration-300"
        [img]="icons.ArrowRight"
        [size]="16"
      ></lucide-angular>
    </a>
  </div>
  <div class="sm:px-5 lg:px-10 overflow-hidden h-fit">
    <app-film-carousel [data]="movies()" />
  </div>
</section>
