<section class="text-white px-4 py-6 flex items-center h-96">
  <div class="mb-4 max-w-52">
    <h2
      class="mb-5 text-2xl md:text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-romantic bg-[length:200%_auto] animate-gradient"
    >
      Phim Hàn Quốc mới
    </h2>
    <a href="#" class="text-md text-white/70 hover:text-white gap-1 group">
      <span> Xem toàn bộ</span>
      <i
        class="fa-solid fa-chevron-right text-xs transform duration-300 ease-in-out group-hover:translate-x-1"
      ></i>
    </a>
  </div>
  <div class="px-10 overflow-hidden">
    <!-- <ngx-slick-carousel #slickModal="slick-carousel" class="slider" [config]="slideConfig">
      @for (m of movies(); track $index) {
        <div ngxSlickItem class="p-2">
          <div class="rounded-tl-xl rounded-tr-xl overflow-hidden shadow-md cursor-pointer">
            <div class="relative aspect-[16/9] overflow-hidden">
              <img [src]="m.poster" class="w-full h-full object-cover" alt="banner" />
              <div class="absolute top-2 left-2 flex gap-1 text-[10px] font-semibold">
                <span
                  class="bg-black/70 px-2 py-0.5 rounded text-white border border-white/10"
                  *ngIf="m.episode"
                  >{{ m.episode }}</span
                >
                <span
                  class="bg-green-600/80 px-2 py-0.5 rounded text-white border border-white/10"
                  *ngIf="m.translation"
                  >{{ m.translation }}</span
                >
              </div>
            </div>
            <div class="p-3">
              <div class="text-sm font-semibold truncate">{{ m.title }}</div>
              <div class="text-xs text-white/50 truncate">{{ m.subTitle }}</div>
            </div>
          </div>
        </div>
      }
    </ngx-slick-carousel> -->
  </div>
</section>
