<section class="text-white px-4 py-6 flex items-center h-96 mb-6">
  <div class="mb-4 w-80">
    <h2
      class="mb-5 text-2xl md:text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-romantic bg-[length:200%_auto] animate-gradient"
    >
      Phim {{ country().name }} Mới
    </h2>
    <a href="#" class="text-md text-white/70 hover:text-white gap-1 group flex items-center">
      <span> Xem toàn bộ</span>
      <lucide-angular
        class="transform group-hover:translate-x-[2px] duration-300"
        [img]="icons.ArrowRight"
        [size]="16"
      ></lucide-angular>
    </a>
  </div>
  <div class="px-10 overflow-hidden">
    <ngx-slick-carousel #slickModal="slick-carousel" class="slider" [config]="slideConfig">
      @for (m of movies(); track $index) {
        <div ngxSlickItem class="p-2">
          <div class="rounded-tl-xl rounded-tr-xl overflow-hidden shadow-md cursor-pointer">
            <div class="relative aspect-[2/3] overflow-hidden">
              <img
                [src]="m.poster_url | image: 'short'"
                class="w-full h-full object-cover"
                alt="banner"
              />
              <div class="absolute top-2 left-2 flex gap-1 text-[10px] font-semibold">
                <span
                  class="bg-green-600/80 px-2 py-0.5 rounded text-white border border-white/10"
                  >{{ m.lang }}</span
                >
              </div>
              <div class="absolute bottom-2 left-1/2 -translate-x-1/2 w-full text-center">
                <span
                  class="text-sm bg-black/70 px-2 py-0.5 rounded text-white border border-white/10 whitespace-nowrap"
                  >{{ m.episode_current }}</span
                >
              </div>
            </div>
            <div class="p-3">
              <div class="text-sm font-semibold truncate">{{ m.title }}</div>
              <div class="text-xs text-white/50 truncate">{{ m.subTitle }}</div>
            </div>
          </div>
        </div>
      }
    </ngx-slick-carousel>
  </div>
</section>
