/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar {
    @apply overflow-auto; /* vẫn cho cuộn */
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */

    &::-webkit-scrollbar {
      display: none;           /* Chrome, Safari, Opera */
    }
  }

  /* (Tùy chọn) Thanh cuộn mảnh kiểu Netflix */
  .scrollbar-thin {
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
    }
  }

  /* (Tùy chọn) Cuộn mượt */
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}