@if (isBrowser()) {
  <ngx-slick-carousel #slickModal="slick-carousel" class="slider" [config]="slideConfigOrigin()">
    @if (data().length > 0) {
      @for (item of data(); track $index) {
        <div ngxSlickItem class="p-2" [ngClass]="styleClass()">
          <a
            class="block rounded-tl-xl rounded-tr-xl overflow-hidden shadow-md cursor-pointer"
            [routerLink]="`phim/${item.slug}`"
          >
            <div class="relative aspect-[2/3] overflow-hidden">
              <img
                [src]="item.poster_url | image: 'short'"
                class="w-full h-full object-cover"
                alt="banner"
              />
              <div
                class="absolute top-0 sm:top-2 left-0 sm:left-2 flex flex-wrap gap-1 text-[8px] font-semibold"
              >
                @for (lang of getLang(item.lang); track lang) {
                  <span
                    class="bg-green-600/90 px-[0.5px] sm:px-1 py-0 sm:py-0.5 rounded text-white border border-white/10 whitespace-nowrap"
                    >{{ lang }}</span
                  >
                }
              </div>
              <div class="absolute bottom-0 left-1/2 -translate-x-1/2 w-full text-center">
                <span
                  class="text-sm bg-black/70 px-2 py-0.5 rounded text-white border border-white/10 whitespace-nowrap"
                  >{{
                    item.episode_current == 'Full' ? (item.time | timeToHour) : item.episode_current
                  }}</span
                >
              </div>
            </div>
            <div class="p-3">
              <div
                class="text-[10px] lg:text-xs font-semibold truncate bg-clip-text text-transparent bg-gradient-minimal bg-[length:200%_auto] animate-gradient"
              >
                {{ item.name }}
              </div>
            </div>
          </a>
        </div>
      }
    } @else {
      @for (i of skeletons; track i) {
        <div ngxSlickItem class="p-2">
          <app-skeleton pdWidth="100%" pdHeight="200%" />
        </div>
      }
    }
  </ngx-slick-carousel>
}
